@media (max-width: 944px){

    .feature-img{
        width: 100%;
    }
    .feature-ul li a{
        width: 100%;
    }
    .btn-group-custom .btn-custom:nth-child(1) {
        margin-right: 3rem;
    }
    .ido-box{

        margin-bottom: 30px;
    
    }
}
@media (max-width: 761px){

    .logo-text{
        margin-top: 22rem !important;
    }
    .banner-section{
        margin-bottom: 5rem;
    }

    .banner-img{

        margin-top: 20px;
        
    }

    .apply-btn-section {
        display: flex;
        flex-direction: column;
    }
    .apply-btn-section .btn-custom{
        margin-top: 2rem;
    }
    .footer-right-text{
        justify-content: left;
        margin-top: 2rem;
    }
    .sroll-top{
        margin-bottom: 1rem;
    }
    .feature{
        margin-top: 22rem;
    }
    .tier-table-section th{
        padding: 0rem !important;
        font-size: 18px;
    }

.ido-box{

    margin-bottom: 30px;

}
  
}