@media (max-width: 944px){

    .feature-img{
        width: 100%;
    }
    .feature-ul li a{
        width: 100%;
    }
    .btn-group-custom .btn-custom:nth-child(1) {
        margin-right: 2rem;
    }
    .ido-box{

        margin-bottom: 30px;
    
    }

    .custom-table{

        margin-bottom: 40px;

    }
    .banner-video video{
        width: 100%;
    }
    .manager-dropdown .dropdown-menu{
        border: none !important;
        background-color: var(--primary) !important;
    }
}
@media (max-width: 767px){
    .banner-video-section video{
        width: 100%;
    }
    
    .logo-text{
        margin-top: 1rem !important;
    }
    .banner-section{
        margin-bottom: 5rem;
    }
    

    .banner-img{

        margin-top: 20px;
        
    }

    .apply-btn-section {
        display: flex;
        flex-direction: column;
    }
    .apply-btn-section .btn-custom{
        margin-top: 2rem;
    }
    .footer-right-text{
        justify-content: left;
        margin-top: 2rem;
    }
    .sroll-top{
        margin-bottom: 1rem;
    }
    .feature{
        margin-top: 22rem;
    }
    .tier-table-section th{
        padding: 0rem !important;
        font-size: 18px;
    }

.ido-box{

    margin-bottom: 30px;

}
.video-section{
    width: 100% !important;
}
.video-main-section{
    width: 100%;
}
.banner-section{
    height: 1000px;
    align-items: flex-start !important;
}

.banner-section-m{

height: auto !important;

}


.banner-background{
    height: 100%;
}
.custom-order-4{
    order: 4;
}
.box-ul-column {
    flex-direction: inherit;
    flex-wrap: wrap;
}
.box-ul-column .ul-box {
    width: 166px;
}
.box-ul-flex {
    flex-wrap: wrap;
}
.box-ul-flex .ul-box {
    width: 166px !important;
    margin: 1rem auto; 

}

.staking-dropdown{
    
    text-align: center;
    margin: 3rem 0;

}

.ido-box .btn-group-custom{

    flex-wrap: wrap;
    justify-content: center !important;

}

.ido-box .btn-group-custom a{

margin-bottom: 10px !important;

}

.flex-xs-wrap{

    flex-wrap: wrap;

}

.conditions{

    margin-right: 0 !important;
    margin-bottom: 30px;

}

.roadmap {
    flex-direction: column;
    margin: 50px 14em 50px 0;

  }

  .roadmap-circle {
    width: 50px;
    height: 50px;
  }

  .roadmap-hr {
    width: 1px;
    height: 150px !important;
    display: inline-block;
  
    opacity: 1 !important;
  }

  .roadmap-item p {
    left: 120%;
    font-size: 0.9em;
    width: 225px;
    top: auto;
    text-align: left;
  }

  .custom-checkbox{

    font-size: 12px;

  }

  .custom-checkbox input {
    width: 10px;
    height: 10px;
    margin-right: 5px !important;
}

}

@media (max-width: 420px){


    .btn-group-custom{
        flex-direction: column;
        text-align: left;
        align-items: flex-start;
    }

    .btn-group-custom .btn-custom:nth-child(1) {
        margin-bottom: 1rem;
    }

    .btn-custom{

        padding: 10px 20px;

    }

    .ido-cap{
        flex-direction: column;
        text-align: center !important;

    }

    .ido-cap span{

        margin:10px 0;
        text-align: center !important;
        

    }

    .ido img{

        width: 45px;

    }
    .logo-text-img{
        width: 270px !important;
    }
    .banner-video-section video{
        width: 100%;

    }
    

}
@media (max-width:991px) and (min-width:768px) {

    .feature-img {
        width: 100%;
    }

    .btn-group-custom .btn-custom{
        padding: 10px 21px;

    }
    .video-section{
        width: 100% !important;
    }
    .video-main-section{
        width: 100%;
    }
    .custom-order-4{
        order: 4;
    }
    .box-ul-column {
        flex-direction: inherit;
        flex-wrap: wrap;
    }

    .ido-box{

        margin-bottom: 30px;

    }

    .ido-box .btn-group-custom{

        flex-wrap: wrap;
        justify-content: center !important;
    
    }
    
    .ido-box .btn-group-custom a{
    
    margin-bottom: 10px !important;
    
    }

    .staking-dropdown{
    
        text-align: center;
        margin: 3rem 0;
    
    }

    .flex-xs-wrap{

        flex-wrap: wrap;
        justify-content: space-between;


    }

    .roadmap-item p{

        width: auto;

    }

    .conditions{

        flex-basis: 48%;
        margin: 0 0 20px 0!important;

    }

    .custom-table{

        margin-bottom: 40px;

    }
   
    .banner-video-section {
        height: 988px;

    }
  
}

@media (max-width:1024px) and (min-width:992px) {



    .roadmap-item p{

        width: auto;

    }

    .ido-box .btn-group-custom {
        flex-wrap: wrap;
        justify-content: center !important;
    }

    .ido-box .btn-group-custom a {
        margin-bottom: 10px !important;
    }
    .footer-social-icon i {
        font-size: 25px;
    }
    .custom-header .navbar-light .navbar-nav .nav-link {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .banner-video video{
        margin-bottom: 2rem !important;
    }

  

}

@media (max-width:1200px) and (min-width:1024px) {



    .roadmap-item p{

        width: auto;

    }

    .ido-box .btn-group-custom {
        flex-wrap: wrap;
        justify-content: center !important;
    }

    .ido-box .btn-group-custom a {
        margin-bottom: 10px !important;
    }
}


@media (max-width:1440px) and (min-width:1200px) {



    .roadmap-item p{

        width: auto;

    }

    .ido-box .btn-group-custom {
        flex-wrap: wrap;
        justify-content: center !important;
    }

    .ido-box .btn-group-custom a {
        margin-bottom: 10px !important;
    }
}